@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}

section {
	
}

#flexbox{
	width:1200px;
	height:550px;
	background-color:royalblue;
	display: flex;
	justify-content: space-evenly;
	margin:0 auto;
	flex-wrap: wrap;
}

.flexcolumn{
	width:300px;
	height:400px;
	background-color: dodgerblue;
	
}
.flexcolumn1{
width:300px;
	height:400px;
	background-color: dodgerblue;	
	
}

#widecolumn{
	width:100%;
	height:50px;
	background-color:cornflowerblue;
	
	}
#narrowcolumn{
	width:100%;
	height:20px;
	background-color: beige;
	
	
}

