@charset "utf-8";
/* CSS Document */
/* Add a black background color to the top navigation */
.topnav {
  background-color:#030B42;
  overflow: hidden;
	font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
	/*border-bottom: thick;
	border-bottom-color: aqua;*/
	border-bottom: 2px  solid black;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
 text-align: center;
  padding: 14px 16px;
  font-size: 30px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.home {
	color: #8511B8;
}
.About{
	color:#D9150D;
}
.Tour{
	color: #ED8815;

}
.Music{
	color: #F2D622;
	
}
.Merch{
	color:white;

}
 body {
    text-align: center;
overflow-x: hidden;
  }

#container {
	background:url("../img/infared.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: white;
	overflow: hidden;
  }

.home-text{
	padding: 10% 0;
}



  .desktop-only {
    text-transform:uppercase;
font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
	   font-size: 100px;
	  color:#112364;
	  padding-bottom: 20%;
	  margin-left: auto;
	  margin-right: auto;
	 text-align: center;
	  
	 
		  
}
.video
{width: auto;
height: 300;
}
 
