@charset "utf-8";
/* CSS Document */

h1{
	 font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}
.weekly{
		background-color:#50A52C;
	width: 45%;
		float:left;
	border: dashed;
	border-color:#2C7A2A;
}
#project{
	border:dotted;
	border-color:#2C7A2A;
	background-color:#50A52C;
	width: 45%;
	float:right;
	height: auto;
}
#wrapper{
	float:left;
	padding: 20px;
	font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
	color:#FCE95F;
	background-color:#50A52C;
}
	a:link {
		color:#FEB8FF;
		text-decoration: none;
		line-height: 1.7em;
}
	a:visited{
		color:#044707 ; 
	}
	a:hover{
		color: aquamarine;
		text-decoration: underline;
	}
	a:active{
		color:coral;
	}
	