@charset "utf-8";
/* CSS Document */

h1{
	font-family: leida, sans-serif;
	color: #FFD200;
/*font-weight: 300;
font-style: normal;*/
}
.weekly{
		background-color:#50A52C;
	width: 55%;
		float:left;
	border: dashed;
	border-color:#2C7A2A;
}
#project{
	border: dashed;
	border-color:#2C7A2A;
	background-color:#50A52C;
	width: 55%;
	float:right;
}
#wrapper{
	float: left;
	padding: 0.5px;
}
body {
	color:#FCE95F;
	/*background-color:#50A52C;*/
	background-color: #FF0000;
}
	a:link {
		color:#FEB8FF;
		text-decoration: none;
		line-height: 1.7em;
}
	a:visited{
		color:#044707 ; 
	}
	a:hover{
		color: aquamarine;
		text-decoration: underline;
	}
	a:active{
		color:coral;
	}

	
